// 颜色变量
$color_primary: #B35336;
$color_background_base: #151617;
$color_background_secondary: rgba(177,193,234,0.05);
$color_success: #25cf42;
$color_success_active: #00c277;
$color_warning: #ff8225;
$color_warning_active: #f38c00;
$color_danger: #ff3b30;
$color_danger_active: #fa3300;
$color_default:#267aff;
$color_default_active: #5b69e6;
$color_text_primary: rgba(255,255,255,0.80);
$color_text_regular: rgba(255,255,255,0.60);
$color_text_secondary: rgba(255,255,255,0.40);
$color_border_base: rgba(255,255,255,0.10);
