// 颜色变量
$color_primary: #267aff; // 品牌色
$color_background_base: #f9f9f9; // 页面底色
$color_background_secondary: #ffffff; // 卡片颜色
$color_success: #25cf42;
$color_success_active: #00c277;
$color_warning: #ff8225;
$color_warning_active: #f38c00;
$color_danger: #ff3b30;
$color_danger_active: #fa3300;
$color_default:#267aff;
$color_default_active: #5b69e6;
$color_text_primary: #000000; // 标准文字颜色
$color_text_regular: #666666; // 正文颜色
$color_text_secondary: #8a8a8a; // 提示文字颜色
$color_border_base: #f2f2f2; // 分割线颜色
