@charset "utf-8";


// Prefix
$css-prefix: 'dolphin-weex-';
$elementSeparator: '__';
$modifierSeparator: '--';
$state-prefix: 'is-';


$primary : #3399ff;

$background : #f8f8f8;

$defaultColor : #e8f0f5;

$linkColor : #5580B3;

$borderBottomColor : #f2f2f2;
